# Copyright (c) 2014 Hewlett-Packard Development Company, L.P.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Each server name "class" should be a section with an underlying 
# image_id property that contains the Glance Image ID to be utilized.
# You can obtain a list of loaded image ids utilizing the 
# `glance image-list` command.

[controller]
image_id=7732e7ca-52fa-4acf-beeb-9cfd82e0e3df

[NovaCompute]
image_id=0e09dcac-b4de-42c4-b7ad-d86a33c49ae0

